= form_for @item, as: :item, url: @item.new_record? ? dashboard_items_path : dashboard_item_path(@item), :html => {:multipart => true} do |f|
  - if @item.errors.any?
    #error_explanation
      %h2= t "item.error.form"
      / "#{pluralize(@item.errors.count, "error")} prohibited this item from being saved:"
      %ul
        - @item.errors.full_messages.each do |msg|
          %li= msg
  #title
    %b= f.label :title
    = f.text_field :title
  
  #description
    %b= f.label :description
    %br
    = f.text_area :description
  
  #photos
    = f.fields_for :photos do |photo|
      - if photo.object.new_record?
        = photo.file_field :photo
      - else
        = image_tag(photo.object.photo.url(:thumb))
        = photo.check_box :_destroy
      %br

  #contact_phone
    %b= f.label :contact_phone
    = f.text_field :contact_phone

  #contact_name
    %b= f.label :contact_name
    = f.text_field :contact_name

  #state
    - if @item.new_record?
      = check_box_tag 'item[state]', :published
      %b= label_tag t(:publish, :scope => [:activerecord, :state_machines, :item, :events])
    - else
      %b= f.label :state
      = item_state_select f, @item

  #tags
    %b= f.label :tags
    = text_field_tag :tags, f.object.tags.collect(&:tag).join(", ")

  .actions
    = f.submit t('button.save')
