= form_for @item, as: :item, url: @item.new_record? ? dashboard_items_path : dashboard_item_path(@item) do |f|
  - if @item.errors.any?
    #error_explanation
      %h2= t "item.error.form"
      / "#{pluralize(@item.errors.count, "error")} prohibited this item from being saved:"
      %ul
        - @item.errors.full_messages.each do |msg|
          %li= msg
  #title
    %b= f.label :title
    = f.text_field :title
  
  #description
    %b= f.label :description
    %br
    = f.text_area :description

  #contact_phone
    %b= f.label :contact_phone
    = f.text_field :contact_phone

  #contact_name
    %b= f.label :contact_name
    = f.text_field :contact_name

  #state
    - if @item.new_record?
      = f.check_box :state, @item.state
      %b= label_tag t('item.state.event.publish')

  #tags
    %b= f.label :tags
    = text_field_tag :tags, f.object.tags.collect(&:tag).join(", ")

  .actions
    = f.submit t('button.save')
