%h1
  = t 'item.title.list'

%table
  %tr
    %th
    %th
    %th

  - @items.each do |item|
    %tr
      %td
        %b= link_to item.title, dashboard_item_path(item)
      %td= link_to t('item.link.edit'), edit_dashboard_item_path(item)
      %td= link_to t('item.link.delete'), dashboard_item_path(item), method: :delete, data: { confirm: t('item.warning.delete') }

%br

= link_to link_to t('item.link.new'), new_dashboard_item_path
