%h1
  = t 'item.title.list'

%table
  %tr
    %th= Item.human_attribute_name(:title)
    %th
    %th= Item.human_attribute_name(:created_at)
    %th= Item.human_attribute_name(:contact_name)
    %th= Item.human_attribute_name(:contact_phone)
    %th= Item.human_attribute_name(:state)
    %th
    %th

  - @items.each do |item|
    %tr
      %td
        %b= link_to item.title, dashboard_item_path(item)
      %td= #item.image goes here
      %td= l item.created_at, :format => :full
      %td= item.contact_name
      %td= item.contact_phone
      %td= t (item.state.present? ? item.state.to_s : :hidden), :scope => [:activerecord, :state_machines, :item, :states]
      %td= link_to t('item.link.edit'), edit_dashboard_item_path(item)
      %td= link_to t('item.link.delete'), dashboard_item_path(item), method: :delete, data: { confirm: t('item.warning.delete') }

%br

= link_to link_to t('item.link.new'), new_dashboard_item_path
