%p#notice= notice

#title 
  %b
    = label_tag (:title)
    \:
  = @item.title

#description
  %b
    = label_tag :description
    \:
  = @item.description

#tags
  %b
    = label_tag :tags
    \:
  = @item.tags.collect(&:tag).join(", ")


= link_to 'Edit', edit_dashboard_item_path(@item)
\|
= link_to 'Back', dashboard_items_path
