- scope = {:scope => [:activerecord, :attributes, :item]}

#title 
  %b
    = label_tag t :title, scope
    \:
  = @item.title

#description
  %b
    = label_tag t :description, scope
    \:
  = @item.description

#photos
  - @item.photos.each do |photos|
    = link_to(image_tag(photo.image.url(:thumb)), photo.image.url)

#contact_phone
  %b
    = label_tag t :contact_phone, scope
    \:
  = @item.contact_phone

#contact_name
  %b
    = label_tag t :contact_name, scope
    \:
  = @item.contact_name

#state
  %b
    = label_tag t :state, scope
    \:
  = t @item.state, :scope => [:activerecord, :state_machines, :item, :states]

#tags
  %b
    = label_tag t :tags, scope
    \:
  = @item.tags.collect(&:tag).join(", ")


= link_to t('item.link.edit'), edit_dashboard_item_path(@item)
\|
= link_to t('item.link.back'), dashboard_items_path
