#title 
  %b
    = label_tag t 'activerecord.attributes.item.title'
    \:
  = @item.title

#description
  %b
    = label_tag t 'activerecord.attributes.item.description'
    \:
  = @item.description

#tags
  %b
    = label_tag t 'activerecord.attributes.item.tags'
    \:
  = @item.tags.collect(&:tag).join(", ")


= link_to t('item.link.edit'), edit_dashboard_item_path(@item)
\|
= link_to t('item.link.back'), dashboard_items_path
